@page
@model Clinic_Management.Pages.OtpVerification.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="w-full mx-auto px-4 md:px-6 py-24">
    <div class="flex justify-center">

        <div class=" mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow">
            <header class="mb-8">
                <h1 class="text-2xl font-bold mb-1">Mobile Phone Verification</h1>
                <p class="text-[15px] text-slate-500">We have sent your verfication code to </p>
            </header>
            <form id="otp-form">
                <div class="flex items-center justify-center ">
                    <input type="text" id="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />

                </div>
                <div class=" mx-auto mt-4">
                    <button type="button"
                            class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150">
                        Verify
                        Code
                    </button>
                </div>
            </form>
           <div id = "recaptcha-container"></div>
            <div class="text-sm text-slate-500 mt-4">Didn't receive code? <button type="button" class="font-medium text-indigo-500 hover:text-indigo-600" onclick="phoneAuth()">Resend</button></div>
        </div>
     

    </div>
</div>


<!-- Banner with links -->


<script src="~/js/otp.js">

</script>

<script type="module">
    import { getAuth } from 'https://www.gstatic.com/firebasejs/10.12.3/firebase-auth.js'
    import { getFirestore } from 'https://www.gstatic.com/firebasejs/10.12.3/firebase-firestore.js'        // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBZz4ebKXndDgmmmHXoRuNkTU44B_zh_uo",
        authDomain: "basiha.com",
        projectId: "basiha-medical-74e16",
        storageBucket: "basiha-medical-74e16.appspot.com",
        messagingSenderId: "501525144075",
        appId: "1:501525144075:web:c28ccd6351743277b4dd0e",
        measurementId: "G-L5WT5J8PC6"
    };

    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);


</script>