@page
@model Clinic_Management.Pages.PatientAppointment.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.BranchId" class="control-label"></label>
                <select asp-for="Appointment.BranchId" class ="form-control" asp-items="ViewBag.BranchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientId" class="control-label"></label>
                <select asp-for="Appointment.PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientName" class="control-label"></label>
                <input asp-for="Appointment.PatientName" class="form-control" />
                <span asp-validation-for="Appointment.PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientDob" class="control-label"></label>
                <input asp-for="Appointment.PatientDob" class="form-control" />
                <span asp-validation-for="Appointment.PatientDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientPhoneNumber" class="control-label"></label>
                <input asp-for="Appointment.PatientPhoneNumber" class="form-control" />
                <span asp-validation-for="Appointment.PatientPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientEmail" class="control-label"></label>
                <input asp-for="Appointment.PatientEmail" class="form-control" />
                <span asp-validation-for="Appointment.PatientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PatientAddress" class="control-label"></label>
                <input asp-for="Appointment.PatientAddress" class="form-control" />
                <span asp-validation-for="Appointment.PatientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DoctorId" class="control-label"></label>
                <select asp-for="Appointment.DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ReceptionistId" class="control-label"></label>
                <select asp-for="Appointment.ReceptionistId" class ="form-control" asp-items="ViewBag.ReceptionistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.RequestedTime" class="control-label"></label>
                <input asp-for="Appointment.RequestedTime" class="form-control" />
                <span asp-validation-for="Appointment.RequestedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Specialist" class="control-label"></label>
                <select asp-for="Appointment.Specialist" class ="form-control" asp-items="ViewBag.Specialist"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Description" class="control-label"></label>
                <input asp-for="Appointment.Description" class="form-control" />
                <span asp-validation-for="Appointment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Status" class="control-label"></label>
                <select asp-for="Appointment.Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
